<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Titulo }}</title>
        <link rel="shortcut icon" href="{{ .Logo }}" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body class="bodyAdmin-login">

        <div class="formularioAdmin"> 
            <h1>Inicio de Sesion</h1>
            <form action="" method="post" class="formAdmin" id="formAdmin">

                <div class="correoAdmin">  
                    <input type="email" id="correoAdmin" placeholder="Correo" required>
                </div>

                <div class="contraseñaAdmin"> 
                    <input type="password" id="contrasenaAdmin" placeholder="Contraseña" required>
                </div>

                <button type="submit">Ingresar</button>

            </form>

            <p id="errorMensaje">
                Credenciales inválidas o sin autorización
            </p>

        </div>

        <script src="/static/js/adminLogin.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>